.main
  = render "header"
  .contents
    .contents__image
      %h1　ようこそ地域猫登録アプリへ！
    .contents__main
      %h3.contents__main__text
        人気ランキング
      .contents__main__contents_box
        .contents__main__contents_box__content
          .contents__main__contents_box__content__text
            いいね数１位
          .contents__main__contents_box__content__info
            =link_to "#"
            .contents__main__contents_box__content__info--image
              = image_tag 'top_cat.jpg',height: '188', width: '272', class: 'mini_cat'
              .contents__main__contents_box__content__info--image__name
                名前:みいちゃん
            .contents__main__contents_box__content__info--text
              地域:蒲田　    
              %br毛色:トラ柄
              特徴:人懐っこい
        .contents__main__contents_box__content
          .contents__main__contents_box__content__text
            いいね数２位
          .contents__main__contents_box__content__info
            =link_to "#"
            .contents__main__contents_box__content__info--image
              = image_tag 'top_cat.jpg',height: '188', width: '272', class: 'mini_cat'
              .contents__main__contents_box__content__info--image__name
                名前:たけお
            .contents__main__contents_box__content__info--text
              地域:蒲田
              %br毛色:トラ柄
              特徴:人懐っこい

      %h3.contents__main__text
        新入り猫
      .contents__main__contents_box
        .contents__main__contents_box__content
          .contents__main__contents_box__content__text
            2020年2月10日に追加されました
          .contents__main__contents_box__content__info
            =link_to "#"
            .contents__main__contents_box__content__info--image
              = image_tag 'top_cat.jpg',height: '188', width: '272', class: 'mini_cat'
              .contents__main__contents_box__content__info--image__name
                名前:みいちゃん
            .contents__main__contents_box__content__info--text
              地域:蒲田
              %br毛色:トラ柄
              特徴:人懐っこい

      %h3.contents__main__text
        迷い猫情報！
      .contents__main__contents_box
        .contents__main__contents_box__content
          .contents__main__contents_box__content__text
            いいね数１位
          .contents__main__contents_box__content__info
            =link_to "#"
            .contents__main__contents_box__content__info--image
              = image_tag 'top_cat.jpg',height: '188', width: '272', class: 'mini_cat'
              .contents__main__contents_box__content__info--image__name
                名前:みいちゃん
            .contents__main__contents_box__content__info--text
              地域:蒲田
              %br毛色:トラ柄
              特徴:人懐っこい
              